<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ovchip.dao.OVChipkaartDAO">

    <resultMap id="OVChipkaartResultMap" type="ovchip.domain.OVChipkaart">
        <id property="kaartNummer" column="kaart_nummer"/>
        <result property="geldigTot" column="geldig_tot"/>
        <result property="klasse" column="klasse"/>
        <result property="saldo" column="saldo"/>
        <result property="reizigerId" column="reiziger_id"/>
    </resultMap>

    <select id="findByReiziger" parameterType="int" resultMap="OVChipkaartResultMap">
        SELECT * FROM ov_chipkaart
        WHERE reiziger_id = #{reizigerId}
    </select>

    <insert id="save" parameterType="ovchip.domain.OVChipkaart">
        INSERT INTO ov_chipkaart (kaart_nummer, geldig_tot, klasse, saldo, reiziger_id)
        VALUES (#{kaartNummer}, #{geldigTot}, #{klasse}, #{saldo}, #{reizigerId})
    </insert>

    <update id="update" parameterType="ovchip.domain.OVChipkaart">
        UPDATE ov_chipkaart
        SET geldig_tot = #{geldigTot}, klasse = #{klasse}, saldo = #{saldo}
        WHERE kaart_nummer = #{kaartNummer}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM ov_chipkaart WHERE kaart_nummer = #{kaartNummer}
    </delete>

    <select id="findById" parameterType="int" resultMap="OVChipkaartResultMap">
        SELECT * FROM ov_chipkaart WHERE kaart_nummer = #{kaartNummer}
    </select>

    <select id="findAll" resultMap="OVChipkaartResultMap">
        SELECT * FROM ov_chipkaart
    </select>
</mapper>